---
layout: default
permalink: "/projetos/{{page.fileSlug}}/"
---
<article
  class="post"
  itemscope
  itemtype="http://schema.org/BlogPosting"
  role="article"
>
  <div class="post__header">
    <div class="post__header--container">
      <h1 class="post__header--title" itemprop="name headline">
        {{- title -}}
      </h1>
      <h2 class="post__header--description" itemprop="description">
        {{ description }}
      </h2>
    </div>
      <div class="post__splash">
      <div class="post__splash--container">
      {% assign picture = image | prepend : "src/" %}
      {% images picture, 'Alt text test', "post__splash--picture", "post__splash--image" %}
      {% images picture, 'Alt text test', "post__splash--picture", "post__splash--image" %}
      </div>
    </div>
    <div class="post__hero">
      <div class="post__hero--container">
        <div class="post__info">
          <div class="function">
            <h3 class="post__info--title">Minha Função</h3>
            {% for role in roles %}
            <p class="post__info--text">{{ role }}</p>
            {% endfor %}
          </div>
          {%- if showteam == true -%}
          {% include "team" %}
          {%- endif -%}
          <div class="year">
            <h3 class="post__info--title">Data</h3>
            <p class="post__info--text">{{ page.date | date: "%Y" }}</p>
          </div>
          {%- if showproject == true -%}
          {% include "project" %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="post__content" itemprop="articleBody">
    <div class="post__content--container">
      {{ content }}
    </div>
  </div>
</article>
<section class="postnav">
  <div class="postnav--container">
  {% if prevPost %}
  <a href="{{ prevPost.url }}" class="postnav__link" rel="next">Próximo projeto →<br><span class="postnav__link--title">{{ prevPost.data.title }}</span>
  </a>
  {%- else -%}
  <a href="{{ "/" | url }}" class="postnav__link" rel="prev">Sem mais projetos →<br><span class="postnav__link--title">Voltar para a home</span></a>
  {% endif %}
</div>
</section>
